{% extends "main.html" %}
{% load bootstrap3 %}
{% block content %}
<div class="jumbotron">
        <center>
            <h1>Welcome to News</h1>
            <h2>Please authorize:</h3>
            <br />
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <form method="POST" role="form">
                            {% csrf_token %}
                            {% bootstrap_form form %}
                            <input type="submit" value="Go!" class="btn btn-default" />
                    </form>                
                </div>
            </div>
        </center>
</div>
{% endblock %}