<li class="media">
    <div class="media-body">
        <h4 class="media-heading"><a href="{% url "news_page" news_id=news.id %}?back={% url "feed" page_num=page.number %}">{{ news.title }}</a></h4>
        {{ news.description }}
        <a title="Delete from news feed" class="remove" href="/remove/{{ news.id }}/?next={% url "feed" page_num=page.number %}" data-news-id="{{ news.id }}" data-toggle="confirmation" data-confirm-skip-link="true"><span class="glyphicon glyphicon-remove"></span></a>
    </div>
</li>